body {
    background-color: black;   
    /*background-image: url(img/forestA.jpg);
    background-size: cover;*/
}
.jspsych-display-element {
    color: white;
    
}


.grid_train {
    table-layout: fixed;
    width: 4ch;
    margin: auto;
    cursor: url(./img/mouse_pig_small.png) 26 36, grab;
}

.grid_test {
    table-layout: fixed;
    width: 4ch;
    margin: auto;
}


#gridA_1 {
    background-image: url(img/forestA_1.jpg);
    background-size: cover;
}
#gridA_2 {
    background-image: url(img/forestA_2.jpg);
    background-size: cover;
}
#gridA_3 {
    background-image: url(img/forestA_3.jpg);
    background-size: cover;
}
#gridA_4 {
    background-image: url(img/forestA_4.jpg);
    background-size: cover;
}
#gridA_5 {
    background-image: url(img/forestA_5.jpg);
    background-size: cover;
}
#gridA_6 {
    background-image: url(img/forestA_6.jpg);
    background-size: cover;
}
#gridA_7 {
    background-image: url(img/forestA_7.jpg);
    background-size: cover;
}
#gridA_8 {
    background-image: url(img/forestA_8.jpg);
    background-size: cover;
}

#gridB_1 {
    background-image: url(img/forestB_1.jpg);
    background-size: cover;
}
#gridB_2 {
    background-image: url(img/forestB_2.jpg);
    background-size: cover;
}
#gridB_3 {
    background-image: url(img/forestB_3.jpg);
    background-size: cover;
}
#gridB_4 {
    background-image: url(img/forestB_4.jpg);
    background-size: cover;
}
#gridB_5 {
    background-image: url(img/forestB_5.jpg);
    background-size: cover;
}
#gridB_6 {
    background-image: url(img/forestB_6.jpg);
    background-size: cover;
}
#gridB_7 {
    background-image: url(img/forestB_7.jpg);
    background-size: cover;
}
#gridB_8 {
    background-image: url(img/forestB_8.jpg);
    background-size: cover;
}

.grid_train td {
    height: 25px;
    width: 25px;
    border: 2px solid white;
    font-size: 1ch;
    color: black;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    /* later if we want to 'dig': cursor: grab; */
    background-color: rgba(0, 0, 0, 0.0);
}

.grid_test td {
    height: 25px;
    width: 25px;
    border: 2px solid white;
    font-size: 1ch;
    color: black;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    /* later if we want to 'dig': cursor: grab; */
    background-color: rgba(0, 0, 0, 0.0);
}

.grid_train td:hover {
    border: 2px solid red;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.jspsych-btn .jspsych-survey-html-form {
    position: relative;
    top: -100px;
}